Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

Ans:MongoDB is a non-relational document database that provides support for JSON-like storage.

Lesser Server Cost and Open-Source NoSQL databases are cheap and open source.
RDBMS databases are expensive and it uses big servers and storage systems.

Q2. State and Explain the features of MongoDB.

Ans :Features of MongoDB –
      Schema-less Database,
      Document Oriented,
      Indexing,
      Scalability,
      Replication,
      High Performance

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [3]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.9/492.9 kB 6.6 MB/s eta 0:00:0000:0100:01
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 38.6 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3
Note: you may need to restart the kernel to use updated packages.

In [58]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://vaibhavdurgad:vaibhavdurgad@cluster0.hc4o9zs.mongodb.net/?retryWrites=true&w=majority")
db = client.test
db=client['Vaibhav']

Collections_vaibhav=db['VaiTable']

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [59]:

    data={"Name":'Vaibhav',
      "Class":'Data Science',
      'Age':24}

In [60]:
Collections_vaibhav.insert_one(data)

In [61]:
data2=[{"mail_id":'Vinayak@gmail.com',"Add":'Bangalore'},
      {"mail_id":'Vaibhav@gmail.com',"Add":"Hubli"}]

In [62]:
Collections_vaibhav.insert_many(data2)

In [63]:
Collections_vaibhav.find_one()

{'_id': ObjectId('63f86e76223b6fe0079e5388'),
 'Name': 'Vaibhav1',
 'Class': 'Data Science',
 'Age': 24}

In [64]:
for i in Collections_vaibhav.find():
    print(i)

{'_id': ObjectId('63f86e76223b6fe0079e5388'), 'Name': 'Vaibhav1', 'Class': 'Data Science', 'Age': 24}
{'_id': ObjectId('63f876cd223b6fe0079e5389'), 'mail_id': 'vaibhavdurgad@gmail.com', 'Add': 'Bangalore'}
{'_id': ObjectId('63f876fa223b6fe0079e538a'), 'mail_id': 'Vinayak@gmail.com', 'Add': 'Bangalore'}
{'_id': ObjectId('63f87ae4223b6fe0079e538c'), 'mail_id': 'Vaibhav@gmail.com', 'Add': 'Hubli'}
{'_id': ObjectId('63f87ae4223b6fe0079e538b'), 'mail_id': 'Vinayak@gmail.com', 'Add': 'Bangalore'}
{'_id': ObjectId('63f87b13223b6fe0079e538d'), 'mailid': 'Vinayak45@gmail.com', 'Add': 'Bangalore'}
{'_id': ObjectId('63f87b13223b6fe0079e538e'), 'mail_id': 'Vaibhav54@gmail.com', 'Add': 'Hubli'}
{'_id': ObjectId('63f87d0b223b6fe0079e538f'), 'Name': 'notebook', 'size': {'height': 11, 'width': 12}, 'Age': [12, 23, 24]}
{'_id': 3, 'company': 'Vaibhav34', 'Year': 2007}
{'_id': 5, 'company': 'ACS', 'Year': 2009}
{'_id': 4, 'company': 'TCS', 'Year': 2008}
{'_id': 6, 'company': 'Vaibhav34', 'Year': 2007}
{'_id': 8, 'company': 'Vaibhav34', 'Year': 2009}
{'_id': 7, 'company': 'Vaibhav34', 'Year': 2008}
{'_id': ObjectId('63fd976f779addf0e76a0d3d'), 'Name': 'Vaibhav', 'Class': 'Data Science', 'Age': 24}
{'_id': ObjectId('63fd977a779addf0e76a0d3e'), 'mail_id': 'Vinayak@gmail.com', 'Add': 'Bangalore'}
{'_id': ObjectId('63fd977a779addf0e76a0d3f'), 'mail_id': 'Vaibhav@gmail.com', 'Add': 'Hubli'}
{'_id': ObjectId('63fda128779addf0e76a0d49'), 'Name': 'Vaibhav', 'Class': 'Data Science', 'Age': 24}
{'_id': ObjectId('63fda129779addf0e76a0d4a'), 'mail_id': 'Vinayak@gmail.com', 'Add': 'Bangalore'}
{'_id': ObjectId('63fda129779addf0e76a0d4b'), 'mail_id': 'Vaibhav@gmail.com', 'Add': 'Hubli'}

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

In [65]:
for i in Collections_vaibhav.find():
    print(i)

{'_id': ObjectId('63f86e76223b6fe0079e5388'), 'Name': 'Vaibhav1', 'Class': 'Data Science', 'Age': 24}
{'_id': ObjectId('63f876cd223b6fe0079e5389'), 'mail_id': 'vaibhavdurgad@gmail.com', 'Add': 'Bangalore'}
{'_id': ObjectId('63f876fa223b6fe0079e538a'), 'mail_id': 'Vinayak@gmail.com', 'Add': 'Bangalore'}
{'_id': ObjectId('63f87ae4223b6fe0079e538c'), 'mail_id': 'Vaibhav@gmail.com', 'Add': 'Hubli'}
{'_id': ObjectId('63f87ae4223b6fe0079e538b'), 'mail_id': 'Vinayak@gmail.com', 'Add': 'Bangalore'}
{'_id': ObjectId('63f87b13223b6fe0079e538d'), 'mailid': 'Vinayak45@gmail.com', 'Add': 'Bangalore'}
{'_id': ObjectId('63f87b13223b6fe0079e538e'), 'mail_id': 'Vaibhav54@gmail.com', 'Add': 'Hubli'}
{'_id': ObjectId('63f87d0b223b6fe0079e538f'), 'Name': 'notebook', 'size': {'height': 11, 'width': 12}, 'Age': [12, 23, 24]}
{'_id': 3, 'company': 'Vaibhav34', 'Year': 2007}
{'_id': 5, 'company': 'ACS', 'Year': 2009}
{'_id': 4, 'company': 'TCS', 'Year': 2008}
{'_id': 6, 'company': 'Vaibhav34', 'Year': 2007}
{'_id': 8, 'company': 'Vaibhav34', 'Year': 2009}
{'_id': 7, 'company': 'Vaibhav34', 'Year': 2008}
{'_id': ObjectId('63fd976f779addf0e76a0d3d'), 'Name': 'Vaibhav', 'Class': 'Data Science', 'Age': 24}
{'_id': ObjectId('63fd977a779addf0e76a0d3e'), 'mail_id': 'Vinayak@gmail.com', 'Add': 'Bangalore'}
{'_id': ObjectId('63fd977a779addf0e76a0d3f'), 'mail_id': 'Vaibhav@gmail.com', 'Add': 'Hubli'}
{'_id': ObjectId('63fda128779addf0e76a0d49'), 'Name': 'Vaibhav', 'Class': 'Data Science', 'Age': 24}
{'_id': ObjectId('63fda129779addf0e76a0d4a'), 'mail_id': 'Vinayak@gmail.com', 'Add': 'Bangalore'}
{'_id': ObjectId('63fda129779addf0e76a0d4b'), 'mail_id': 'Vaibhav@gmail.com', 'Add': 'Hubli'}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [67]:
for i in Collections_vaibhav.find().sort('Year',-1):
    print(i)

{'_id': 5, 'company': 'ACS', 'Year': 2009}
{'_id': 8, 'company': 'Vaibhav34', 'Year': 2009}
{'_id': 4, 'company': 'TCS', 'Year': 2008}
{'_id': 7, 'company': 'Vaibhav34', 'Year': 2008}
{'_id': 3, 'company': 'Vaibhav34', 'Year': 2007}
{'_id': 6, 'company': 'Vaibhav34', 'Year': 2007}
{'_id': ObjectId('63f86e76223b6fe0079e5388'), 'Name': 'Vaibhav1', 'Class': 'Data Science', 'Age': 24}
{'_id': ObjectId('63f876cd223b6fe0079e5389'), 'mail_id': 'vaibhavdurgad@gmail.com', 'Add': 'Bangalore'}
{'_id': ObjectId('63f876fa223b6fe0079e538a'), 'mail_id': 'Vinayak@gmail.com', 'Add': 'Bangalore'}
{'_id': ObjectId('63f87ae4223b6fe0079e538c'), 'mail_id': 'Vaibhav@gmail.com', 'Add': 'Hubli'}
{'_id': ObjectId('63f87ae4223b6fe0079e538b'), 'mail_id': 'Vinayak@gmail.com', 'Add': 'Bangalore'}
{'_id': ObjectId('63f87b13223b6fe0079e538d'), 'mailid': 'Vinayak45@gmail.com', 'Add': 'Bangalore'}
{'_id': ObjectId('63f87b13223b6fe0079e538e'), 'mail_id': 'Vaibhav54@gmail.com', 'Add': 'Hubli'}
{'_id': ObjectId('63f87d0b223b6fe0079e538f'), 'Name': 'notebook', 'size': {'height': 11, 'width': 12}, 'Age': [12, 23, 24]}
{'_id': ObjectId('63fd976f779addf0e76a0d3d'), 'Name': 'Vaibhav', 'Class': 'Data Science', 'Age': 24}
{'_id': ObjectId('63fd977a779addf0e76a0d3e'), 'mail_id': 'Vinayak@gmail.com', 'Add': 'Bangalore'}
{'_id': ObjectId('63fd977a779addf0e76a0d3f'), 'mail_id': 'Vaibhav@gmail.com', 'Add': 'Hubli'}
{'_id': ObjectId('63fda128779addf0e76a0d49'), 'Name': 'Vaibhav', 'Class': 'Data Science', 'Age': 24}
{'_id': ObjectId('63fda129779addf0e76a0d4a'), 'mail_id': 'Vinayak@gmail.com', 'Add': 'Bangalore'}
{'_id': ObjectId('63fda129779addf0e76a0d4b'), 'mail_id': 'Vaibhav@gmail.com', 'Add': 'Hubli'}

Q7. Explain why delete_one(), delete_many(), and drop() is used.

Ans: delete_one() method is used delete one document, we use the delete_one() method.

In [73]:
myquery ={"Name": "Vaibhav"}

Collections_vaibhav.delete_one(myquery)

In [74]:
for i in Collections_vaibhav.find():
    print(i)

{'_id': ObjectId('63f876cd223b6fe0079e5389'), 'mail_id': 'vaibhavdurgad@gmail.com', 'Add': 'Bangalore'}
{'_id': ObjectId('63f876fa223b6fe0079e538a'), 'mail_id': 'Vinayak@gmail.com', 'Add': 'Bangalore'}
{'_id': ObjectId('63f87ae4223b6fe0079e538c'), 'mail_id': 'Vaibhav@gmail.com', 'Add': 'Hubli'}
{'_id': ObjectId('63f87ae4223b6fe0079e538b'), 'mail_id': 'Vinayak@gmail.com', 'Add': 'Bangalore'}
{'_id': ObjectId('63f87b13223b6fe0079e538d'), 'mailid': 'Vinayak45@gmail.com', 'Add': 'Bangalore'}
{'_id': ObjectId('63f87b13223b6fe0079e538e'), 'mail_id': 'Vaibhav54@gmail.com', 'Add': 'Hubli'}
{'_id': ObjectId('63f87d0b223b6fe0079e538f'), 'Name': 'notebook', 'size': {'height': 11, 'width': 12}, 'Age': [12, 23, 24]}
{'_id': 3, 'company': 'Vaibhav34', 'Year': 2007}
{'_id': 5, 'company': 'ACS', 'Year': 2009}
{'_id': 4, 'company': 'TCS', 'Year': 2008}
{'_id': 6, 'company': 'Vaibhav34', 'Year': 2007}
{'_id': 8, 'company': 'Vaibhav34', 'Year': 2009}
{'_id': 7, 'company': 'Vaibhav34', 'Year': 2008}
{'_id': ObjectId('63fd977a779addf0e76a0d3e'), 'mail_id': 'Vinayak@gmail.com', 'Add': 'Bangalore'}
{'_id': ObjectId('63fd977a779addf0e76a0d3f'), 'mail_id': 'Vaibhav@gmail.com', 'Add': 'Hubli'}
{'_id': ObjectId('63fda129779addf0e76a0d4a'), 'mail_id': 'Vinayak@gmail.com', 'Add': 'Bangalore'}
{'_id': ObjectId('63fda129779addf0e76a0d4b'), 'mail_id': 'Vaibhav@gmail.com', 'Add': 'Hubli'}

Ans: delete_many() method is used delete more document, we use the delete_many() method.

In [76]:
myquery ={"company": "Vaibhav34"}
Collections_vaibhav.delete_many(myquery)

In [77]:
for i in Collections_vaibhav.find():
    print(i)

{'_id': ObjectId('63f876cd223b6fe0079e5389'), 'mail_id': 'vaibhavdurgad@gmail.com', 'Add': 'Bangalore'}
{'_id': ObjectId('63f876fa223b6fe0079e538a'), 'mail_id': 'Vinayak@gmail.com', 'Add': 'Bangalore'}
{'_id': ObjectId('63f87ae4223b6fe0079e538c'), 'mail_id': 'Vaibhav@gmail.com', 'Add': 'Hubli'}
{'_id': ObjectId('63f87ae4223b6fe0079e538b'), 'mail_id': 'Vinayak@gmail.com', 'Add': 'Bangalore'}
{'_id': ObjectId('63f87b13223b6fe0079e538d'), 'mailid': 'Vinayak45@gmail.com', 'Add': 'Bangalore'}
{'_id': ObjectId('63f87b13223b6fe0079e538e'), 'mail_id': 'Vaibhav54@gmail.com', 'Add': 'Hubli'}
{'_id': ObjectId('63f87d0b223b6fe0079e538f'), 'Name': 'notebook', 'size': {'height': 11, 'width': 12}, 'Age': [12, 23, 24]}
{'_id': 5, 'company': 'ACS', 'Year': 2009}
{'_id': 4, 'company': 'TCS', 'Year': 2008}
{'_id': ObjectId('63fd977a779addf0e76a0d3e'), 'mail_id': 'Vinayak@gmail.com', 'Add': 'Bangalore'}
{'_id': ObjectId('63fd977a779addf0e76a0d3f'), 'mail_id': 'Vaibhav@gmail.com', 'Add': 'Hubli'}
{'_id': ObjectId('63fda129779addf0e76a0d4a'), 'mail_id': 'Vinayak@gmail.com', 'Add': 'Bangalore'}
{'_id': ObjectId('63fda129779addf0e76a0d4b'), 'mail_id': 'Vaibhav@gmail.com', 'Add': 'Hubli'}

Ans : delete a table, or collection as it is called in MongoDB, by using the drop() method.

In [78]:
Collections_vaibhav.drop()

In [80]:
for i in Collections_vaibhav.find():
    print(i)